---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="icon" type="image/png" sizes="32x32" href="/nilesh-pithiya/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/nilesh-pithiya/favicon-16x16.png" />
<link rel="icon" type="image/svg+xml" href="/nilesh-pithiya/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/nilesh-pithiya/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/nilesh-pithiya/android-chrome-192x192.png" />
<link rel="icon" type="image/png" sizes="512x512" href="/nilesh-pithiya/android-chrome-512x512.png" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/mstile-150x150.png" />
<meta name="theme-color" content="#ffffff" />

<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>Nilesh Pithiya - Certified Frappe/ERPNext Developer</title>
<meta name="title" content="Nilesh Pithiya - Certified Frappe/ERPNext Developer" />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content="Nilesh Pithiya - Certified Frappe/ERPNext Developer" />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content="Nilesh Pithiya - Certified Frappe/ERPNext Developer" />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
